<launch>
  <include file="$(find cartrasche_bringup)/launch/cartrasche_core.launch" />
  <include file="$(find cartrasche_bringup)/launch/cartrasche_remote.launch" />
  <include file="$(find cartrasche_bringup)/launch/cartrasche_lidar.launch" />
  <include file="$(find cartrasche_bringup)/launch/cartrasche_camera.launch" />
</launch>
