<launch>
  <include file="$(find cartrasche_bringup)/launch/includes/description.launch.xml" />

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />
  <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" />
</launch>
