<launch>
  <arg name="multi_robot_name" default=""/>
  <arg name="set_lidar_frame_id" default="base_scan"/>

  <include file="$(find cartrasche_bringup)/launch/cartrasche_core.launch">
    <arg name="multi_robot_name" value="$(arg multi_robot_name)"/>
  </include>
  <include file="$(find cartrasche_bringup)/launch/cartrasche_lidar.launch">
    <arg name="frame_id" value="$(arg set_lidar_frame_id)"/>
  </include>
  <!-- <node pkg="cartrasche_bringup" type="cartrasche_diagnostics" name="cartrasche_diagnostics" output="screen"/> -->

</launch>
