<launch>
  <arg name="multi_robot_name" default=""/>

  <include file="$(find cartrasche_bringup)/launch/cartrasche_remote.launch">
    <arg name="multi_robot_name" value="$(arg multi_robot_name)"/>
  </include>

  <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher">
    <param name="use_gui" value="true"/>
    <param name="rate" value="50"/>
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find cartrasche_description)/rviz/urdf.rviz"/>
</launch>
