<launch>

<rosparam file="$(find cartrasche_description)/launch/controller.yaml" command="load"/>
<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="cartrasche" args="회전 1_position_controller 회전 2_position_controller 회전 3_position_controller joint_state_controller "/>
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  <remap from="/joint_states" to="/cartrasche/joint_states"/>
</node>

</launch>