<launch>
  <node pkg="tf" type="static_transform_publisher" name="map_to_scanmatch_odom" args="0 0 0.6 0 0 0 map scanmatch_odom 50" />
  <node pkg="tf" type="static_transform_publisher" name="scanmatch_odom_to_base_footprint" args="0 0 -0.6 0 0 0 scanmatch_odom base_footprint 50" />
  <node pkg="tf" type="static_transform_publisher" name="base_footprint_to_base_link" args="0 0 0.05 0 0 0 base_footprint base_link 50" />

  <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser_frame" args="0 0 0.55 0 0 0 base_link laser_frame 50" />
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_camera_frame" args="0 0.05 0.55 0 0 0 base_link camera_frame 50" />
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_imu_frame" args="0 0 0.1 0 0 0 base_link imu_frame 50" />
</launch>
