<launch>
  <!-- Arguments -->
  <arg name="open_rviz" default="true"/>

  <!-- Cartrasche -->
  <include file="$(find cartrasche_bringup)/launch/cartrasche_remote.launch" />
  <include file="$(find cartrasche_slam)/launch/cartrasche_tf.launch" />
  <include file="$(find cartrasche_slam)/launch/cartrasche_hector.launch" />

  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find cartrasche_slam)/rviz/cartrasche_hector.rviz"/>
  </group>

</launch>
