<launch>
  <!-- Arguments -->
  <!-- <arg name="geotiff_map_file_path" default="$(find hector_geotiff_launch)/maps"/>   -->
  <arg name="open_rviz" default="false"/>

  <param name="use_sim_time" value="false"/>

  <!-- Cartrasche -->
  <!-- <include file="$(find cartrasche_bringup)/launch/cartrasche_remote.launch" /> -->

  <!-- Hector SLAM -->
  <include file="$(find cartrasche_slam)/launch/cartrasche_hector.launch" />
  <include file="$(find cartrasche_slam)/launch/cartrasche_tf.launch" />

  <!-- rviz -->
  <group if="$(arg open_rviz)">
    <node pkg="rviz" type="rviz" name="rviz" required="true" 
          args="-d $(find cartrasche_slam)/rviz/cartrasche_hector.rviz"/>
  </group>

</launch>
