<launch>
  <!-- Arguments -->
  <arg name="open_rviz" default="true"/>
  <!-- <arg name="map_file" default="$(find cartrasche_navigation)/maps/map.yaml"/> -->

  <!-- cartrasche -->
  <include file="$(find cartrasche_bringup)/launch/cartrasche_remote.launch"/>

  <!-- Map server -->
  <!-- <node pkg="map_server" name="map_server" type="map_server" /> -->
  
  
  <!-- AMCL -->
  <include file="$(find cartrasche_navigation)/launch/amcl.launch"/>

  <!-- move_base -->
  <include file="$(find cartrasche_navigation)/launch/move_base.launch"/>

  <!-- stop_vel_pub -->
  <node pkg="cartrasche_navigation" type="stop_vel_pub.py" name="stop_vel_pub" output="screen"/>

  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find cartrasche_navigation)/rviz/cartrasche_auto_nav.rviz"/>
  </group>
</launch>
