<launch>
    <!-- Launch the human follower node -->
    <node name="human_follower" pkg="cartrasche_navigation" type="follow_human_using_cmdvel.py" output="screen"/>

    <!-- <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find cartrasche_navigation)/rviz/cartrasche_auto_nav.rviz"/> -->
</launch>
