<launch>
  <!-- Arguments -->
  <arg name="cmd_vel" default="/cmd_vel" />
  <arg name="odom" default="/scanmatch_odom" />
  <arg name="scan" default="/scan" />

  <!-- move_base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
    <rosparam file="$(find cartrasche_navigation)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find cartrasche_navigation)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find cartrasche_navigation)/param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find cartrasche_navigation)/param/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find cartrasche_navigation)/param/move_base_params.yaml" command="load" />
    <rosparam file="$(find cartrasche_navigation)/param/dwa_local_planner_params.yaml" command="load" ns="DWAPlannerROS"/>
    <remap from="cmd_vel" to="$(arg cmd_vel)"/>
    <remap from="odom" to="$(arg odom)"/>
    <remap from="scan" to="$(arg scan)"/>
  </node>
</launch>
